<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Projects</title>
</head>
<body>
<div class="container">
    <div th:if="${not #lists.isEmpty(table)}">
        <h2>About Project</h2>
        <th>Project ID:</th>
        <td th:text="${project.ProjectID}"></td>
        <th>Project Name:</th>
        <td th:text="${project.ProjectName}"></td>
        <th>start Date:</th>
        <td th:text="${project.startDate}"></td>
        <th>end Date:</th>
        <td th:text="${project.endDate}"></td>

        <h3>EmployeeList</h3>
        <table class="table table-striped">
            <tr>
                <th>EmployeeID</th>
                <th>EmployeeName</th>
            </tr>
            <tr th:each="table : ${table}">
                <td th:text="${table.EmployeeID}"></td>
                <td th:text="${table.EmployeeName}"></td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>